@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* DID word */

.didDLetter {
   font-size: 15px;
 color: coral;
  text-transform: uppercase;
  font-family: 'fantacy', papyrus;
}

.didILetter {
     font-size: 45px;
  font-weight: lighter;
  color-background: white;
  color: #1d6d1d;
  text-decoration: bold;
  text-transform: lighter;
}

.didDTwoLetter {
     font-size: 14px; 
  color: rgb(35, 59, 30);
}

/* THE word */

.theTLetter {
     font-size: 40px;
  font-weight: bold;
  color: rgb(68, 41, 190);
  text-decoration-line: line-through;
  transform: rotate(180deg)
}

.theHLetter {
     font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}

.theELetter {
     font-size: 
  font-weight: large
  color: coral;
  display: inline-block;
  transform: scale(-1, 1);
  text-decoration: normal       
  font-family: 
}

/* FRONT-END word */

.frontendFLetter {
     font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}

.frontendRLetter {
     font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}

.frontendOLetter {
     font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}

.frontendNLetter {
     font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}

.frontendTLetter {
     font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}

.frontendELetter {
     font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}

.frontendNTwoLetter {
     font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}

.frontendDLetter {
     font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}

/* DEVELOPER word */

.developerDLetter {
     font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.developerELetter {
     font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.developerVLetter {
     font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.developerETwoLetter {
     font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.developerLLetter {
     font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.developerOLetter {
     font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.developerPLetter {
     font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.developerEThreeLetter {
     font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.developerRLetter {
     font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}

/* TAKE word */

.takeTLetter {
     font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.takeALetter {
     font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.takeKLetter {
     font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.takeELetter {   font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}

/* UP word */

.upULetter {
     font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.upPLetter {
     font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}

/* GARDENING word */

.gardeningGLetter {
     font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.gardeningALetter {
     font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.gardeningRLetter {
     font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.gardeningDLetter {
     font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.gardeningELetter {
     font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.gardeningNLetter {
     font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.gardeningILetter {
     font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.gardeningNTwoLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.gardeningGTwoLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}

/* BECAUSE word */

.becauseBLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.becauseELetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.becauseCLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.becauseALetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.becauseULetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.becauseSLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.becauseETwoLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}

/* THEY word */

.theyTLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.theyHLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.theyELetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.theyYLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}

/* WANTED word */

.wantedWLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.wantedALetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.wantedNLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.wantedTLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.wantedELetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.wantedDLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}

/* TO word */

.toTLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.toOLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}

/* IMPROVE word */

.improveILetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.improveMLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.improvePLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.improveRLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.improveOLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.improveVLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.improveELetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}

/* THEIR word */

.theirTLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.theirHLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.theirELetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.theirILetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.theirRLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}

/* ROOT word */

.rootRLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.rootOLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.rootOTwoLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.rootTLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}

/* SKILLS word */

.skillsSLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.skillsKLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.skillsILetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.skillsLLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.skillsLTwoLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.skillsSTwoLetter {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}

/* SYMBOLS */

.hyphen {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.exclamation-mark {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
.question-mark {
      font-size: 
  font-weight: 
  color: coral;
  text-decoration:
  text-transform: 
  font-family: 
}
