@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* DID word */

.didDLetter {
   font-size: 15px;
 color: coral;
  text-transform: uppercase;
  font-family: 'fantacy', papyrus;
}

.didILetter {
     font-size: 45px;
  font-weight: lighter;
  color: #1d6d1d;
  text-decoration: bold;
  text-transform: lighter;
  transform: rotateX('90');
}

.didDTwoLetter {
     font-size: 14px; 
  color: rgb(35, 59, 30);
}

/* THE word */

.theTLetter {
  display: inline;   
  font-size: 40px;
  font-weight: bold;
  color: rgb(207, 230, 81);
  text-decoration-line: line-through;
  transform: rotate(0.5turn) forwards;
}

.theHLetter {
     font-size: 10px;
  color: rgb(235, 135, 152);
}

.theELetter {
     font-size: 50px;
  font-weight: large;
  color: coral;
  display: inline-block;
  transform: scale(-1);
  text-decoration: underline;
}

/* FRONT-END word */

.frontendFLetter {
     font-size: 35px;
  font-weight: bolder;
  color: blue;
  text-transform: rotate(180 deg) forwards;
}

.frontendRLetter {
     font-size: 60px;
  font-weight: light;
  color: tan;
}

.frontendOLetter {
     font-size: 20px;
  text-shadow: 5px 0px #558abb;
}

.frontendNLetter {
  font-weight: lighter;
  color: black;
  text-shadow: 30px 1px blue;  
}

.frontendTLetter {
      color: midnightblue;
  filter: drop-shadow(0 0 3px magenta);
}

.frontendELetter {
     font-size: 80px;
  color: yellow;
}

.frontendNTwoLetter {
     font-size: 20px;
      text-transform: rotate(180 deg) forwards;
      animation-fill-mode: forwards;
}
 

.frontendDLetter {
     font-size: 60px;
  isolation: isolate;
  color: rgb(95, 147, 177);
}

/* DEVELOPER word */

.developerDLetter {
     font-size: 40px;
  font-weight: none;
  color: rgb(57, 13, 128);
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.developerELetter {
     font-size: 18px;
  font-weight: 400;
  color: coral;
  font-family: "Kablammo", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 0;
}
.developerVLetter {
     font-size: 70px;
  font-weight: none;
  color: hsl(62, 100%, 27%);
  text-decoration: underline;
  text-transform: capitalize;
  font-family: fangsong;
}
.developerETwoLetter {
     font-size: 25px;
  font-weight: 700;
  color: rgb(192, 57, 98);
  text-decoration:overline;
  text-transform: uppercase;
  font-family: "Akaya Telivigala", system-ui;
  font-weight: 400;
  font-style: normal;
}
.developerLLetter {
     font-size: 99px;
  font-weight: normal;
  color: rgb(116, 86, 185);
  text-decoration:none;
  text-transform: full-width;
  font-family: ui-monospace;
}
.developerOLetter {
     font-size: 43px;
  font-weight: normal;
  color: rgb(216, 213, 62);
  text-decoration:line-through;
  text-transform: transparent;
  font-family: sans-serif;
}
.developerPLetter {
     font-size: 74px;
  font-weight: lighter;
  color: rgb(224, 7, 36);
  text-decoration:overline;
  text-transform: none;
  font-family: Times;
}
.developerEThreeLetter {
     font-size: 19px;
  font-weight: none;
  color: hsl(96.32, 35%, 22%);
  text-decoration: underline;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}
.developerRLetter {
     font-size: 50;
  font-weight: bold;
  color: #8f9530;
  text-decoration: none;
  text-transform: lowercase;
  font-family: Comic;
}

/* TAKE word */

.takeTLetter {
     font-size: 94px;
  font-weight: bolder;
  color: rgb(5, 191, 110);
  text-decoration: none;
  text-transform: full-width;
  font-family: courier;
}
.takeALetter {
     font-size: 38px;
  font-weight: light;
  color: #f2a65a;
  text-decoration: none;
  text-transform: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.takeKLetter {
     font-size: 88px;
  font-weight: bold;
  color: hsl(101.46, 78%, 75%);
  text-decoration: none;
  text-transform: capitalize;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.takeELetter {   
  font-size: 55px;
  font-weight: bolder;
  color: rgb(139, 192, 85);
  text-decoration: none;
  text-transform: lowercase;
  font-family:sans-serif;
}

/* UP word */

.upULetter {
     font-size: 78px;
  font-weight: none;
  color: #8bf1f1;
  text-decoration: underline dotted;
  text-transform: lowercase;
  font-family: Tahoma;
}
.upPLetter {
     font-size: 26px;
  font-weight: normal;
  color: rgb(45, 228, 157);
  text-decoration: none;
  text-transform: lowercase;
  font-family: Arial, sans-serif;
}

/* GARDENING word */

.gardeningGLetter {
     font-size: 100px;
  font-weight: lighter;
  color: hsl(286.44, 83%, 42%);
  text-decoration: none;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}
.gardeningALetter {
     font-size: 26px;
  font-weight: none;
  color: #b7ef9e;
  text-decoration: none;
  text-transform: none;
  font-family: Times, serif;
}
.gardeningRLetter {
     font-size: 69px;
  font-weight: bold;
  color: rgb(185, 59, 171);
  text-decoration: none;
  text-transform: inherit;
  font-family: Andale monospace;
}
.gardeningDLetter {
     font-size: 22px;
  font-weight: bolder;
  color: hsl(254.14, 75%, 64%);
  text-decoration: none;
  text-transform: initial;
  font-family: cursive;
}
.gardeningELetter {
     font-size: 82px;
  font-weight: normal;
  color: #063139;
  text-decoration: none;
  text-transform: revert;
  font-family: Impact, fantasy;
}
.gardeningNLetter {
     font-size: 46px;
  font-weight: none;
  color: rgb(122, 129, 202);
  text-decoration: none;
  text-transform: none;
  font-family: New Centry Schoolbook, serif;
}
.gardeningILetter {
     font-size: 71px;
  font-weight: bold;
  color: hsl(8.91, 98%, 60%);
  text-decoration:wavy underline;
  text-transform: unset;
  font-family: monospace;
}
.gardeningNTwoLetter {
      font-size: 15px;
  font-weight: lighter;
  color: #128d26;
  text-decoration: none;
  text-transform: capitalize;
  font-family: florance, cursive;
}
.gardeningGTwoLetter {
      font-size: 25px;
  font-weight: bold;
  color: rgb(170, 241, 21);
  text-decoration: none;
  text-transform: lowercase;
  font-family: Oldtown, fantasy;
}

/* BECAUSE word */

.becauseBLetter {
      font-size: 76px;
  font-weight: bolder;
  color: hsl(66.91, 76%, 43%);
  text-decoration: none;
  text-transform: full-width;
  font-family: Palatino, serif;
}
.becauseELetter {
      font-size: 15px;
  font-weight: lighter;
  color: #08b1fa;
  text-decoration: none;
  text-transform: inherit;
  font-family: emoji;
}
.becauseCLetter {
      font-size: 61px;
  font-weight: none;
  color: rgb(252, 139, 88);
  text-decoration: underline overline;
  text-transform: inital;
  font-family: fangson;
}
.becauseALetter {
      font-size: 44px;
  font-weight: normal;
  color: hsl(206.37, 82%, 78%);
  text-decoration: none;
  text-transform: revert;
  font-family: Times;
}
.becauseULetter {
      font-size: 91px;
  font-weight: lighter;
  color: #be06fb;
  text-decoration: none;
  text-transform: revert;
  font-family: "Lucida Console", 'Courier New', Courier, monospace;
}
.becauseSLetter {
      font-size: 33px;
  font-weight: dark;
  color: rgb(15, 60, 137);
  text-decoration: none;
  text-transform: unset;
  font-family: cursive; 
}
.becauseETwoLetter {
      font-size: 88px;
  font-weight: bold;
  color: hsl(52.62, 54%, 56%);
  text-decoration: none;
  text-transform: none;
  font-family: fantasy;
}

/* THEY word */

.theyTLetter {
      font-size: 49px;
  font-weight: bolder;
  color: #7f3be9;
  text-decoration: none;
  text-transform: lowercase;
  font-family: math;
}
.theyHLetter {
      font-size: 55px;
  font-weight: bolder;
  color: rgb(50, 120, 39);
  text-decoration: none;
  text-transform: none;
  font-family: serif;
}
.theyELetter {
      font-size: 87px;
  font-weight: lighter;
  color: hsl(55.65, 42%, 32%);
  text-decoration: none;
  text-transform: full-width;
  font-family: system-ui;
}
.theyYLetter {
      font-size: 27px;
  font-weight: dark;
  color: rgb(110, 160, 183);
  text-decoration:underline;
  text-transform: inherit;
  font-family: inherit;
}

/* WANTED word */

.wantedWLetter {
      font-size: 61px;
  font-weight: none;
  color: hsl(281.25, 45%, 58%);
  text-decoration: none;
  text-transform: initial;
  font-family: serif;
}
.wantedALetter {
      font-size: 42px;
  font-weight: normal;
  color: #7497e2;
  text-decoration: none;
  text-transform: none;
  font-family: monospace;
}
.wantedNLetter {
      font-size:66; 
  font-weight: bold;
  color: rgb(57, 77, 59);
  text-decoration: none;
  text-transform: revert;
  font-family: fantasy;
}
.wantedTLetter {
      font-size: 34px;
  font-weight: bolder;
  color: hsl(54.83, 25%, 54%);
  text-decoration: none;
  text-transform: unset;
  font-family: ui-rounded;
}
.wantedELetter {
      font-size: 77px;
  font-weight: lighter;
  color: 	#898e41;
  text-decoration: none;
  text-transform: none;
  font-family: revert;
}
.wantedDLetter {
      font-size: 27px;
  font-weight: dark;
  color: rgb(233, 195, 178);
  text-decoration: none;
  text-transform: capitalize;
  font-family: fantasy;
}

/* TO word */

.toTLetter {
      font-size: 93px;
  font-weight: normal;
  color: #45c9ba;
  text-decoration: underline dotted;
  text-transform: full-width;
  font-family: fangsong;
}
.toOLetter {
      font-size: 26px;
  font-weight: none;
  color: rgb(150, 227, 225);
  text-decoration: none;
  text-transform: inherit;
  font-family: revert;
}

/* IMPROVE word */

.improveILetter {
      font-size: 64px;
  font-weight: bold;
  color: hsl(226.15, 46%, 27%);
  text-decoration: none;
  text-transform: initial;
  font-family: unset;
}
.improveMLetter {
      font-size: 39px;
  font-weight: bolder;
  color: #6f0d7f;
  text-decoration: none;
  text-transform: revert;
  font-family: cursive;
}
.improvePLetter {
      font-size: 78px;
  font-weight: lighter;
  color: rgb(235, 19, 20);
  text-decoration: line-through;
  text-transform: unset;
  font-family: initial;
}
.improveRLetter {
      font-size: 49px;
  font-weight: dark;
  color: hsl(124.21, 98%, 23%);
  text-decoration: wavy underline;
  text-transform: none;
  font-family: emoji;
}
.improveOLetter {
      font-size: 81px;
  font-weight: normal;
  color: #288450;
  text-decoration: none;
  text-transform: capitalize;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.improveVLetter {
      font-size: 32px;
  font-weight: none;
  color: rgb(101, 221, 59);
  text-decoration: none;
  text-transform: lowercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.improveELetter {
      font-size: 86px;
  font-weight: lighter;
  color: hsl(305.93, 93%, 34%);
  text-decoration: none;
  text-transform: full-width;
  font-family: 'Times New Roman', Times, serif;
}

/* THEIR word */

.theirTLetter {
      font-size: 17px;
  font-weight: bold;
  color: #86913f;
  text-decoration: none;
  text-transform: revert;
  font-family: sansserif;
}
.theirHLetter {
      font-size: 72px;
  font-weight: bolder;
  color: rgb(123, 60, 104);
  text-decoration: none;
  text-transform: unset;
  font-family: monospace;
}
.theirELetter {
      font-size: 32px;
  font-weight: lighter;
  color: hsl(208.09, 83%, 56%);
  text-decoration: none;
  text-transform: none;
  font-family: cursive;
}
.theirILetter {
      font-size: 96px;
  font-weight: normal;
  color: #89b46b;
  text-decoration: none;
  text-transform: uppercase;
  font-family: fantasy;
}
.theirRLetter {
      font-size: 46px;
  font-weight: none;
  color: rgb(29, 99, 182);
  text-decoration: none;
  text-transform: lowercase;
  font-family: emogi;
}

/* ROOT word */

.rootRLetter {
      font-size: 76px;
  font-weight: dark;
  color: hsl(339.3, 60%, 54%);
  text-decoration: none;
  text-transform: full-width;
  font-family: fangsong;
}
.rootOLetter {
      font-size: 16px;
  font-weight: bold;
  color: #cc4614;
  text-decoration:underline overline;
  text-transform: inherit;
  font-family: serif;
}
.rootOTwoLetter {
      font-size: 86px;
  font-weight: bolder;
  color: rgb(24, 70, 130);
  text-decoration: none;
  text-transform: initial;
  font-family: sanserif;
}
.rootTLetter {
      font-size: 32px;
  font-weight: lighter;
  color: #188b82;
  text-decoration: none;
  text-transform: revert;
  font-family: monospace;
}

/* SKILLS word */

.skillsSLetter {
      font-size: 92px;
  font-weight: none;
  color: rgb(126, 199, 224);
  text-decoration: none;
  text-transform: unset;
  font-family: cursive;
}
.skillsKLetter {
      font-size: 42px;
  font-weight: normal;
  color: hsl(33.02, 61%, 69%);
  text-decoration: none;
  text-transform: none;
  font-family: fantasy;
}
.skillsILetter {
      font-size: 83px;
  font-weight: none;
  color: #751a69;
  text-decoration:line-through;
  text-transform: uppercase;
  font-family: fangsong;
}
.skillsLLetter {
      font-size: 21px;
  font-weight: dark;
  color: rgb(64, 240, 143);
  text-decoration: overline;
  text-transform: lowercase;
  font-family: serif;
}
.skillsLTwoLetter {
      font-size: 71px;
  font-weight: bold;
  color: hsl(150.38, 70%, 55%);
  text-decoration: line-through;
  text-transform: full-width;
  font-family: sansserif;
}
.skillsSTwoLetter {
      font-size: 33px;
  font-weight: bolder;
  color: #193aa2;
  text-decoration: none;
  text-transform: unset;
  font-family: cursive;
}

/* SYMBOLS */

.hyphen {
      font-size: 54px;
  font-weight: lighter;
  color: rgb(100, 176, 182);
  text-decoration:line-through;
  text-transform: none;
  font-family: fantasy
}
.exclamation-mark {
      font-size: 29;
  font-weight: normal;
  color: hsl(341.52, 79%, 49%);
  text-decoration: dashed underline;
  text-transform: capitalize;
  font-family: times;
}
.question-mark {
      font-size: 77px;
  font-weight: none;
  color: #bfd81a;
  text-decoration: line-through;
  text-transform: none;
  font-family: fangsong;
}
